##############################################
###              .gitignore                ###
##############################################

# Pycharm
__pycache__/
.pytest_cache/
*.pyc

# Customs
.idea/
venv/