##############################################
###              .gitignore                ###
##############################################

# Pycharm
__pycache__/
.pytest_cache/

# Customs
.idea/
venv/